body{
  overflow: hidden;
}

.m-title{
  font-size: 4vh;
}

.wrapper{
  width: 100%;
  height: 100%;

  margin-top: -2%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Consolas, Consolas;
}

.item{
  width: 100%;
}

.kto-lower-text{
  font-size: 2vh;
  opacity: 0.8;
  width: 90%;

  display: inline-block;
}
